<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-12">
		<h2>
			<a href="" ui-sref="group-list">Groups</a>
			<br />
			<small>
				<i class="glyphicon glyphicon-chevron-right"></i>
				{{ ctrl.group.name }}
				<i class="glyphicon glyphicon-chevron-right"></i>
				Contacts
			</small>
		</h2>
		<hr />
		<form ng-submit="ctrl.search(ctrl.group)">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="ctrl.searchParams.q" />
			</div>
			<button type="submit" class="btn btn-default col-md-6 col-xs-12">
				<i class="glyphicon glyphicon-search"></i>
				Search
			</button>
		</form>
	</div>
	<div class="col-md-9 col-sm-8 col-xs-12">
		<br />
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-3 col-xs-12">
						<select class="form-control" ng-options="l for l in [5, 10, 100, 1000] track by l" ng-model="ctrl.searchParams.max" ng-change="ctrl.search(ctrl.group)"></select>
					</div>
					<div class="col-sm-9 col-xs-12 text-right">
						<form class="form-inline" ng-submit="ctrl.addContact(ctrl.group, ctrl.contact)">
							<input type="text" placeholder="Type user's name or email" ng-model="ctrl.contact" uib-typeahead="contact.name for contact in ctrl.searchContacts($viewValue)" typeahead-on-select="ctrl.contact = $item" typeahead-wait-ms="500" typeahead-loading="loadingContacts" class="form-control" ng-readonly="loadingContacts" />
							<button type="submit" class="btn btn-primary">
								<i class="glyphicon glyphicon-plus"></i> Add user
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="contact in ctrl.group.contacts" ng-init="idx = ctrl.searchParams.page * ctrl.searchParams.max">
								<td ng-bind="idx + $index + 1"></td>
								<td ng-bind="contact.name"></td>
								<td ng-bind="contact.email"></td>
								<td>
									<a href="" class="text-danger" ng-click="ctrl.removeContact(ctrl.group, contact)" title="Remove {{ contact.name }} from {{ ctrl.group.name }}">
										<i class="glyphicon glyphicon-trash"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<h3 class="panel-title pull-right">Found {{ ctrl.group.contacts.meta.count }} rows</h3>
				<ul uib-pagination class="pagination-sm" total-items="ctrl.group.contacts.meta.count" items-per-page="ctrl.searchParams.max" ng-model="ctrl.currentPage" ng-change="ctrl.search(ctrl.group)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
			</div>
		</div>
	</div>
</div>
